html{
  width: 100%;
  height: 100%;
}


body{
  padding: none;
  margin: none;
  background: #ffffff!important;
  color: #454545;
  font-size: 16px;
  font: @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  font-family: "open sans";
  line-height: 25px;
  z-index: 99;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
                          {

                            body{
                              padding: none;
                              margin: none;
                              background: #ffffff;
                              color: #454545;
                              font-size: 36pt!important;
                              line-height: 46pt!important;
                              font-family: @import url(https://fonts.googleapis.com/css?family=Open+Sans);
                              font-family: "open sans";
                            }
                            h1 {
                              font-size: 40pt!important;
                              line-height: 46pt!important;
                            }
                            h2 {
                              font-size: 36pt!important;
                              line-height: 40pt!important;
                            }
                          }

a{text-decoration: none;
  color: #454545;
}
h1{
  font-size: 24px;
}
header {
      margin: 20px auto 0 auto;
      align-content: flex-end;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-around;
      vertical-align:top;
      width: 85%;
    }
header div{
      width: 100;
    }
header img {
      width: 250px;
      margin: 50px auto 20px auto ;
      align-self: flex-end;
    }
header nav{
      margin: 0 5% 0 0;
      align-self: flex-end;
    }

header nav ul {
      list-style: none;
    }
header nav ul li {
      display: inline;
    }

header nav ul li a{
        text-decoration: none;
        color: #454545;
        padding: 10px;
        margin: 0 auto 0 auto;
        text-transform: capitalize;
    }

@media screen and (min-width: 600px) {
                            header nav ul li a:hover{
                                    text-decoration: none;
                                    color: #14748c;
                                    padding: 10px;
                                    border-bottom: 5px #14748c solid;
                                    text-transform: capitalize;
                                }
                            .nav ul:hover .current {
                                  background-image: none !important;
                                  background-size: 10px;
                                  background-position: 5% 50%;
                                  border: 0;
                                  background-size:
                                }
                            .nav.center ul {
                              		left: 50%;
                              		margin-left: 0px !important;
                              	}
                            .nav.center ul li{
                              margin-bottom: 50px;
                            }
                            .nav {line-height: 50px;
                            text-align: center;
                            }
  }

.current{
      border-bottom: 5px solid #14748c;
    }

@media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      , (max-width:600px)
                          {

                            .contact{
                              height:initial !important;
                              margin-bottom: 10px;
                            }
                            header {
                                  margin: 20px auto 0 auto;
                                  display: block;
                                  width: 85%;
                                  height: 400px;

                                }

                            header img {
                                  width: 450px;
                                  margin: 160px auto 20px auto ;
                                  display: block;
                                }
                            .nav {
                          		position: relative;
                          		min-height: 40px;
                              margin: 75px auto 20px auto ;
                              display: block;
                          	}
                          	.nav ul {
                          		width: 50%;
                          		padding: 5px 0;
                          		position: relative;
                          		border: solid 1px #454545;
                          		background: #fff url("http://www.peopletraction.co.uk/images/list.svg") no-repeat center center;
                              background-size: 40px;
                              z-index: 1;
                              border-radius: 5px;
                            		box-shadow: 0 1px 2px (rgba0,0,0,.3);
                              min-height: 60px;
                              margin: auto;
                          	}
                          	.nav li {
                          		display: none; /* hide all <li> items */
                          		margin: 0;
                          	}
                          	.nav .current {
                          		display: block; /* show only current <li> item */
                          	}
                          	.nav a {
                          		display: block;
                          		padding: 5px 5px 5px 32px;
                          		text-align: left;
                          	}
                          	.nav .current a {
                          		background: #ffffff;
                          		color: #666;
                          	}
                            .current{
                              border-bottom: none;
                            }

                          	/* on nav hover */
                          	.nav ul:hover {
                          		background-image: none;
                          	}
                            .nav ul:hover,.nav ul:active {
                              background-image: none;
                            }
                          	.nav ul:hover li {
                          		display: block;
                          		margin: 0 0 5px ;
                          	}
                          	.nav ul:hover .current,.nav ul:active .current {
                          		background: url("http://www.peopletraction.co.uk/images/tick.svg") no-repeat 10px 7px;
                          	}
                            .nav a{
                              padding: 5px 5px 5px 60px;
                              height:
                            }
}
.main{
  width: 50%;
  margin: 100px auto 100px auto;
}
footer{
  display: block;
}
.footer-link{
  width: 90%;
  margin: auto;
  background-color: #14748c;
  text-align: center;
  padding: 20px 0 20px 0;
}
.footer-link ul{
  display: inline;
}
.footer-link ul li{
  display: inline;
  text-decoration: none;
  margin: 2%;
}
.footer-link ul li a{
  text-decoration: none;
  color: #ffffff;
}
.main {
  width:90%;
  text-align: center;
  display: block;
  margin:auto;
}


div h1{
  height:55px;
  text-transform: capitalize;
  color: #14748c ;
}
  section.social {
  background-color: #14748c;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
  text-align: center;
}
section.social img{
  height: 50px;
}
#about-hero{
  background: url("http://www.peopletraction.co.uk/images/about-hero.gif") fixed;
  background-repeat: no-repeat;
  background-position: center;
  width:87.2%;
  margin:0 auto 3% auto;
  padding:20px;box-sizing:
  padding-box;
}
#about-hero p{
  color:#fff;
  margin: auto;
  text-align: center;
  width: 100%;
}
#about-hero h1{
  height: 55px;
text-transform: capitalize;
color: #fff;
}
#hero.home{
  margin: 3% auto 0 auto;
  min-height: 60%;
  width: 90%;
  background: url("http://www.peopletraction.co.uk/images/hero.jpg") fixed;
  background-size: cover!important;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
  background-attachment: fixed;
}
#hero.inhouse{
  margin: 3% auto 0 auto;
  min-height: 60%;
  width: 90%;
  background: url("http://www.peopletraction.co.uk/images/hero2.jpg")  fixed;
  background-size: cover!important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
}
#hero.lifecycle{
  margin: 3% auto 0 auto;
  min-height: 60%;
  width: 90%;
  background: url("http://www.peopletraction.co.uk/images/hero3.jpg")  fixed;
  background-size: cover!important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
}


@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px) ,
      (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      , (max-width:600px)

{
  #about-hero h1{
    height: 55px;
  text-transform: capitalize;
  color: #fff;
  display: block;
  padding-bottom: 20px;
  }
#hero.lifecycle{
  background: url("http://www.peopletraction.co.uk/images/hero3.jpg") scroll!important;
  background-attachment: scroll!important;
  min-height:50%;
}
#hero.inhouse{
  background: url("http://www.peopletraction.co.uk/images/hero2.jpg") scroll !important;
  background-attachment: scroll!important;
}
#hero.home{
  background: url("http://www.peopletraction.co.uk/images/hero.jpg") scroll !important;
  background-attachment: scroll!important;
  background-position: right top !important;
}

#about-hero{
  background: url("http://www.peopletraction.co.uk/images/about-hero.gif") ;
}
}

  #hero p{
  color: #ffffff;
  width: 65%;
  font-size: 4vw ;
  text-align: center;
  box-sizing: padding-box;
  background-color: #14748c;
  vertical-align:middle;
  opacity: 0.6;
  line-height: 8vw;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  , (max-width:600px)
    {
                            #hero p{
                              color: #ffffff;
                              width: 100%;
                              font-size: 5vw ;
                              line-height: 6vw;
                              text-align: center;
                              background-color: #14748c;
                              margin: auto;
                              padding: 0;
                            }
                            #hero{
                              height: 300px;
                              width: 90%;
                              background: #14748c no-repeat center fixed;
                              margin: auto;
                              padding: 0;
                            }
                            #about-hero p{
                              font-size:36pt;
                              line-height:46pt;}
}
.contact{
  height: 60px;
  background: #14748c;
  left: 50.5%;
  margin-left: -45%;
  position:fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top:0px;
  width: 89%;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  box-sizing: content-box;
  z-index: 20;
}
#eucookielaw{
  height: 60px;
  background: #14748c;
  left: 50.5%;
  margin-left: -45%;
  position:fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom:0px;
  width: 89%;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  box-sizing: content-box;
  z-index: 20;
}
.contact p,a{
  display: inline;
}
.contact a{
  color: #ffffff;
}

.flex-container {
  align-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align:top;
  align-items: flex-start;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){

      .flex-container {
        display: block;
        }


    }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){

        .flex-container {
        display: block;
        }
        .service {
          width: 90%!important;
          margin: 3%;
          padding: 2%;
          display: block;
          box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
          border-radius: 10px;
          box-sizing: border-box;
            }
        .service img{
          margin: 0 0 15px 0;
        }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  , (max-width:600px){
    .service {
      width: 90%;
      margin: 3% auto 3% auto!important;
      padding: 2%;
      display: block;
      text-align: center;
      align-self: flex-start;
      box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
      border-radius: 10px;
        }
      }

.service {
  width: 300px;
  margin: 3%;
  padding: 2%;
  box-sizing: padding-box;
  display: block;
  text-align: center;
  align-self: flex-start;
  box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
  border-radius: 10px;
  min-height: 600px;
    }
.service img{
  margin: 0 0 15px 0;
  width: 124px !important;
  height: 124px !important;
}

.hr-line{
  height: 20px;
  background: #14748c;
  margin: 3% auto 3% auto;
  width: 90%;

}
.hero-img {
  width:100%;
  overflow: hidden;
}
.why section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: flex-start;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){
      .why {
        width: 90%!important;
        margin: 0 5%;
        min-height: 250px;
        align-items: flex-start;
        vertical-align: top;
      }
      .why-title{
        width: 90%;
        margin: 10px auto 50px auto;
        text-align: center;
        font-size: 40pt!important;
        line-height: 46pt!important;
      }
}
.why {
  width: 500px;
  margin: 0 5%;
  min-height: 250px;
  align-items: flex-start;
  vertical-align: top;
}
.why-title{
  width: 90%;
  margin: 10px auto 0 auto;
  text-align: center;
}
.why ul{
  padding: 5px 0;
  top: 0;
  left: 0;
  min-height: 30px;

}
.why li{
  display: block;
  background: #fff url("http://www.peopletraction.co.uk/images/tick.svg") no-repeat center left;
  background-size: 3%;
  padding: 3px 0 0 5%;
  margin-bottom: 20px;
  }
.contact-us {
    width: 90%;
    margin: 10px auto 50px auto;
    text-align: center;
}
.link {
  color: #14748c;
  text-decoration: underline;
  white-space: nowrap;
}
/* TEAM PAGE */

.team {  width:85%;
  text-align: center;
  display: block;
  margin:auto;
}

.team-flex-container{
  align-content: flex-end;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align:top;
  align-items: flex-start;
  }
  .team-img {
    width: 500px;
    margin: 0 5%;
    min-height: 250px;
    text-align: center;
    margin: 10px auto 50px auto;
  }
  .team-img img{
    width: 300px;
    align-self: center;
  }
  .team-txt{
    margin: 10px auto 50px auto;
    text-align: left;
    width: 90%;
  }
  .team-txt p{
    width: 100%;
  }

  /* Servcies PAGE */
  .servcie-main{
    width: 90%!important;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){
      .service-flex-container{
          display: block;
          margin-top: 4%;
          width: 100%!important;
          }
          .service-flex-container{
            align-content: flex-start;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            vertical-align:top;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 4%;
            }

        .service-definition {
          width: 90%;
          align-items: flex-start;
          text-align: left;
        }
        .service-benefit {
          width: 90%;
          min-width: 415px;
          margin-top: 100px;
          margin: auto;
        }
        .service-benefit h2{
          display: inline;
          font-size: 20px;
          color: #14748c;
        }
        .service-benefit h1{
          text-align: center;
        }
        .service-definition h1{
          text-align: center;
        }
        .service-use-for{
          width: 100%;
          text-align: left;
        }
        .service-use-for h1{
          text-align: center;
        }
        .service-use-for h2{
          display: inline;
          font-size: 20px;
          color: #14748c;
        }
        .servcie-main{
          width: 90%!important;
        }
        }
  .service-flex-container{
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align:top;
    align-items: flex-start;
    justify-content: space-between;
    }

.service-definition {
  width: 90%;
  align-items: flex-start;
  text-align: left;
  margin: auto;
}
.service-benefit {
  width: 90%;
  min-width: 415px;
  margin-top: 100px;
  align-items: flex-start;
  text-align: left;
  align-content: center;
  margin: auto;
}
.service-benefit h2{
  display: inline;
  font-size: 20px;
  color: #14748c;
}
.service-benefit h1{
  text-align: center;
}
.service-definition h1{
  text-align: center;
}
.service-use-for{
  width: 90%;
  text-align: left;
  margin: auto;
}
.service-use-for h1{
  text-align: center;
}
.service-use-for h2{
  display: inline;
  font-size: 20px;
  color: #14748c;
}

/* contact page*/

#map {
  width: 90%;
  height: 400px;
  margin: 4% auto 4% auto;
}

/* lost page*/

#lost {
  background: url("http://www.peopletraction.co.uk/images/lost.jpg") ;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin:auto;
  border-radius: 10px;

}
div.lost {
  width:100%;
  height:100%;
  margin:0 auto;
  vertical-align: middle;
  text-align: center;
  border-radius: 20px;

}
p.lostp  {
  color: #ffffff;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
   top: 30%;
   transform: translateY(-30%);
   -webkit-transform: translateY(-30%);
}
.container{
  width: 90%;
  margin: auto;
}
.container-hidden{
  display: none;
  width: 90%;
  margin: auto;
}
.row{
  margin:auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 2px (rgba0,0,0,.3);
}
.form-horizontal {
  border-radius: 5px;
  box-shadow: 0 1px 2px (rgba0,0,0,.3);
}
div.form-group{
  display: inline-flex!important;
  width: 40%;
}
div.form-group-block{
  display: block;
  text-align: center;
}
label.col-sm-2.control-label{
width: 30%;
}
.form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-col{
  width: 100%;
}
textarea.form-control{height:30% !important;
}
.details{
  background-color: #14748c;
  width: 90%;
  margin: auto;
  padding: 1px 0 1px 0;
  text-align: center;
  border: 0;
  font-size: 10px;
  line-height: 12px;
}
.button{
  cursor:pointer;
  color:#ffffff;
  text-decoration:none;
  background:#FA9A50;
  border-radius:5px;
  padding:10px;
  border: 0px !important;
  width: 30%;
  margin: 50px 0 50px 0;
}
.main-contact{
  width: 70%;
  margin: auto;
  text-align: center;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  , (max-width:600px){
    div.form-group{
      display: block!important;
      width: 40%;
      margin: auto;
    }
    .form-control{
    display: block;
    width: 100%;
    height: 3vh;
    padding: 6px 12px;
    font-size: 2vh;
    line-height: 1.42857143;
    color: #555;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .button{
      color: #ffffff;
      text-decoration: none;
      background: #FA9A50;
      border-radius: 5px;
      padding: 10px;
      border: 0px !important;
      width: 30vw;
      height: 5vh;
      font-size: 2vh;
      appearance: normal;
      -webkit-appearance: none;
      -webkit-border-radius: 20px;
    }
}
.result{
  margin:auto;
  width: 70%;
  text-align: center;
}

input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

[for="read_more"] {
    display: block;
    position: initial;
    bottom: -3rem;
    left: 0;
    width: 100%;
    text-align: center;
    padding: .65rem;
    margin: 50px 0;
}
[for="read_more"] .button{
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  background: #FA9A50;
  border-radius: 5px;
  padding: 10px;
  border: 0px !important;
  width: 30%;
  margin: auto;
}

input[type=submit]:checked ~ .container-hidden{
  display: none;
  visibility: hidden;
}
input[type=submit]:checked ~ div.result{
  display: block;
  visibility: visible;
  margin:auto;
  width: 70%;
  text-align: center;
}
input[type=checkbox]:checked ~ .container-hidden {
    display: block;
    visibility: visible;
    width: 100%;
}

input[type=checkbox]:checked ~ label{
  display: none;
  visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more"] .button {
    display: none;
    visibility: hidden;
}


/*blog*/
.entry-content {
  width: 80%;
  margin: auto;
}
div .entry-head {
    width: 80%;
    margin: auto;
    display: block;
}
.home-post {
  width: 300px;
  margin: 3%;
  padding: 2%;
  box-sizing: padding-box;
  display: block;
  text-align: center;
  align-self: flex-start;
  box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  min-height: 300;

}
img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image{
  width:90%;
  height: auto;
  margin-top: 1em;
}
a.entry-title {
  color: #14748c;
  width:90%;

}

.site-main{
  width: 90%;
  margin: auto;
  text-align: center;
}
div.entry-content div{
  padding-top: 15px;
  text-align: left;
}

h2.screen-reader-text {
  visibility: hidden;
  display: none;
}
