
body{
  padding: none;
  margin: none;
  background: #ffffff;
  color: #454545;
  font-size: 16px;
  font: @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  font-family: "open sans";
  line-height: 25px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
                          {

                            body{
                              padding: none;
                              margin: none;
                              background: #ffffff;
                              color: #454545;
                              font-size: 36pt!important;
                              line-height: 46pt!important;
                              font-family: @import url(https://fonts.googleapis.com/css?family=Open+Sans);
                              font-family: "open sans";
                            }
                            h1 {
                              font-size: 40pt!important;
                              line-height: 46pt!important;
                            }
                            h2 {
                              font-size: 36pt!important;
                              line-height: 40pt!important;
                            }
                          }

a{text-decoration: none;
  color: #454545;
}
h1{
  font-size: 24px;
}
header {
      margin: 20px auto 0 auto;
      align-content: flex-end;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-around;
      vertical-align:top;
      width: 85%;
    }
header div{
      width: 100;
    }
header img {
      width: 250px;
      margin: 50px auto 20px auto ;
      align-self: flex-end;
    }
header nav{
      margin: 0 5% 0 0;
      align-self: flex-end;
    }

header nav ul {
      list-style: none;
    }
header nav ul li {
      display: inline;
    }

header nav ul li a{
        text-decoration: none;
        color: #454545;
        padding: 10px;
        margin: 0 auto 0 auto;
        text-transform: capitalize;
    }

@media screen and (min-width: 600px) {
                            header nav ul li a:hover{
                                    text-decoration: none;
                                    color: #14748c;
                                    padding: 10px;
                                    border-bottom: 5px #14748c solid;
                                    text-transform: capitalize;
                                }
                            .nav ul:hover .current {
                                  background-image: none !important;
                                  background-size: 10px;
                                  background-position: 5% 50%;
                                  border: 0;
                                  background-size: ;
                                }
                            .nav.center ul {
                              		left: 50%;
                              		margin-left: 0px !important;
                              	}
                            .nav.center ul li{
                              margin-bottom: 50px;
                            }
                            .nav {line-height: 50px;
                            text-align: center;
                            }
  }

.current{
      border-bottom: 5px solid #14748c;
    }

@media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      , (max-width:600px)
                          {

                            .contact{
                              height:140px!important;
                              margin-bottom: 10px;
                            }
                            header {
                                  margin: 20px auto 0 auto;
                                  display: block;
                                  width: 85%;
                                  height: 400px;

                                }

                            header img {
                                  width: 450px;
                                  margin: 160px auto 20px auto ;
                                  display: block;
                                }
                            .nav {
                          		position: relative;
                          		min-height: 40px;
                              margin: 75px auto 20px auto ;
                              display: block;
                          	}
                          	.nav ul {
                          		width: 50%;
                          		padding: 5px 0;
                          		position: relative;
                          		border: solid 1px #454545;
                          		background: #fff url("http://www.peopletraction.co.uk/images/list.svg") no-repeat center center;
                              background-size: 40px;
                              z-index: 1;
                              border-radius: 5px;
                          		box-shadow: 0 1px 2px rgba0,0,0,.3);
                              min-height: 60px;
                              margin: auto;
                          	}
                          	.nav li {
                          		display: none; /* hide all <li> items */
                          		margin: 0;
                          	}
                          	.nav .current {
                          		display: block; /* show only current <li> item */
                          	}
                          	.nav a {
                          		display: block;
                          		padding: 5px 5px 5px 32px;
                          		text-align: left;
                          	}
                          	.nav .current a {
                          		background: #ffffff;
                          		color: #666;
                          	}

                          	/* on nav hover */
                          	.nav ul:hover {
                          		background-image: none;
                          	}
                            .nav ul:hover,.nav ul:active {
                              background-image: none;
                            }
                          	.nav ul:hover li {
                          		display: block;
                          		margin: 0 0 5px;
                          	}
                          	.nav ul:hover .current,.nav ul:active .current {
                          		background: url("http://www.peopletraction.co.uk/images/tick.svg") no-repeat 10px 7px;
                          	}
}
.main{
  width: 50%;
  margin: 100px auto 100px auto;
}
footer{
  display: block;
}
.footer-link{
  width: 90%;
  margin: auto;
  background-color: #14748c;
  text-align: center;
  padding: 20px 0 20px 0;
}
.footer-link ul{
  display: inline;
}
.footer-link ul li{
  display: inline;
  text-decoration: none;
  margin: 2%;
}
.footer-link ul li a{
  text-decoration: none;
  color: #ffffff;
}
.main {
  width:90%;
  text-align: center;
  display: block;
  margin:auto;
}


div h1{
  height:55px;
  text-transform: capitalize;
  color: #14748c ;
}
  section.social {
  background-color: #14748c;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
  text-align: center;
}
section.social img{
  height: 50px;
}
#hero.home{
  margin: auto;
  height: 60%;
  width: 90%;
  background: url("http://www.peopletraction.co.uk/images/hero.jpg") no-repeat center fixed;
  padding-left: 5%;
  padding-top: 3%;
  box-sizing:border-box;
}
#hero.inhouse{
  margin: auto;
  height: 60%;
  width: 90%;
  background: url("http://www.peopletraction.co.uk/images/images/hero2.jpg") no-repeat center fixed;
  padding-left: 5%;
  padding-top: 3%;
  box-sizing:border-box;
}
#hero.lifecycle{
  margin: auto;
  height: 60%;
  width: 90%;
  background: url("http://www.peopletraction.co.uk/images/images/hero3.jpg") no-repeat center fixed;
  padding-left: 5%;
  padding-top: 3%;
  box-sizing:border-box;
}

  #hero p{
  color: #ffffff;
  width: 65%;
  font-size: 5vh ;
  text-align: center;
  box-sizing: padding-box;
  background-color: #14748c;
  vertical-align:middle;
  opacity: 0.6;
  line-height: 8vh;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  , (max-width:600px)
    {
                            #hero p{
                              color: #ffffff;
                              width: 100%;
                              font-size: 5vw ;
                              text-align: center;
                              background-color: #14748c;
                              margin: auto;
                              padding: 0;
                            }
                            #hero{
                              height: 300px;
                              width: 90%;
                              background: #14748c no-repeat center fixed;
                              margin: auto;
                              padding: 0;
                            }
}
.contact{
  height: 60px;
  background: #14748c;
  left: 50%;
  margin-left: -45%;
  position:fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top:0px;
  width: 90%;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  box-sizing: content-box;
  z-index: 20;
}
.contact p,a{
  display: inline;
}
.contact a{
  color: #ffffff;
}

.flex-container {
  align-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align:top;
  align-items: flex-start;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){

      .flex-container {
        display: block;
        }


    }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){

        .flex-container {
        display: block;
        }
        .service {
          width: 90%!important;
          margin: 3%;
          padding: 2%;
          display: block;
          box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
          border-radius: 10px;
          box-sizing: border-box;
            }
        .service img{
          margin: 0 0 15px 0;
        }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  , (max-width:600px){
    .service {
      width: 90%;
      margin: 3% auto 3% auto!important;
      padding: 2%;
      display: block;
      text-align: center;
      align-self: flex-start;
      box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
      border-radius: 10px;
        }
      }

.service {
  width: 300px;
  margin: 3%;
  padding: 2%;
  display: block;
  text-align: center;
  align-self: flex-start;
  box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
  border-radius: 10px;
  min-height: 550px;
    }
.service img{
  margin: 0 0 15px 0;
}

.hr-line{
  height: 20px;
  background: #14748c;
  margin: 20px auto 20px auto;
  width: 90%;

}
.hero-img {
  width:100%;
  overflow: hidden;
}
.why section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: flex-start;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){
      .why {
        width: 90%!important;
        margin: 0 5%;
        min-height: 250px;
        align-items: flex-start;
        vertical-align: top;
      }
      .why-title{
        width: 90%;
        margin: 10px auto 50px auto;
        text-align: center;
        font-size: 40pt!important;
        line-height: 46pt!important;
      }
}
.why {
  width: 500px;
  margin: 0 5%;
  min-height: 250px;
  align-items: flex-start;
  vertical-align: top;
}
.why-title{
  width: 90%;
  margin: 10px auto 50px auto;
  text-align: center;
}
.why ul{
  padding: 5px 0;
  top: 0;
  left: 0;
  min-height: 30px;

}
.why li{
  display: block;
  background: #fff url("http://www.peopletraction.co.uk/images/tick.svg") no-repeat center left;
  background-size: 3%;
  padding: 3px 0 0 5%;
  margin-bottom: 20px;
  }
.contact-us {
    width: 90%;
    margin: 10px auto 50px auto;
    text-align: center;
}
.link {
  color: #14748c;
  text-decoration: underline;
  white-space: nowrap;
}
/* TEAM PAGE */

.team {  width:85%;
  text-align: center;
  display: block;
  margin:auto;
}

.team-flex-container{
  align-content: flex-end;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align:top;
  align-items: flex-start;
  }
  .team-img {
    width: 500px;
    margin: 0 5%;
    min-height: 250px;
    text-align: center;
    margin: 10px auto 50px auto;
  }
  .team-img img{
    width: 300px;
    align-self: center;
  }
  .team-txt{
    margin: 10px auto 50px auto;
    text-align: left;
    width: 90%;
  }
  .team-txt p{
    width: 100%;
  }

  /* Servcies PAGE */
  .servcie-main{
    width: 90%!important;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){
      .service-flex-container{
          display: block;
          margin-top: 4%;
          width: 100%!important;
          }
          .service-flex-container{
            align-content: flex-start;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            vertical-align:top;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 4%;
            }

        .service-definition {
          width: 90%;
          align-items: flex-start;
          text-align: left;
        }
        .service-benefit {
          width: 90%;
          min-width: 415px;
          margin-top: 100px;
          margin: auto;
        }
        .service-benefit h2{
          display: inline;
          font-size: 20px;
          color: #14748c;
        }
        .service-benefit h1{
          text-align: center;
        }
        .service-definition h1{
          text-align: center;
        }
        .service-use-for{
          width: 100%;
          text-align: left;
        }
        .service-use-for h1{
          text-align: center;
        }
        .service-use-for h2{
          display: inline;
          font-size: 20px;
          color: #14748c;
        }
        .servcie-main{
          width: 90%!important;
        }
        }
  .service-flex-container{
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align:top;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 4%;
    }

.service-definition {
  width: 90%;
  align-items: flex-start;
  text-align: left;
  margin: auto;
}
.service-benefit {
  width: 90%;
  min-width: 415px;
  margin-top: 100px;
  align-items: flex-start;
  text-align: left;
  align-content: center;
  margin: auto;
}
.service-benefit h2{
  display: inline;
  font-size: 20px;
  color: #14748c;
}
.service-benefit h1{
  text-align: center;
}
.service-definition h1{
  text-align: center;
}
.service-use-for{
  width: 90%;
  text-align: left;
  margin: auto;
}
.service-use-for h1{
  text-align: center;
}
.service-use-for h2{
  display: inline;
  font-size: 20px;
  color: #14748c;
}

/* contact page*/

#map {
  width: 90%;
  height: 400px;
  margin: 4% auto 4% auto;
}
