html{
  width: 100%;
  height: 100%;
}


body{
  padding: none;
  margin: none;
  background: #ffffff;
  color: #454545;
  font-size: 16px;
  font: @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  font-family: "open sans";
  line-height: 25px;
  z-index: 99;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
                          {

                            body{
                              padding: none;
                              margin: none;
                              background: #ffffff;
                              color: #454545;
                              font-size: 36pt!important;
                              line-height: 46pt!important;
                              font-family: @import url(https://fonts.googleapis.com/css?family=Open+Sans);
                              font-family: "open sans";
                            }
                            h1 {
                              font-size: 40pt!important;
                              line-height: 46pt!important;
                            }
                            h2 {
                              font-size: 36pt!important;
                              line-height: 40pt!important;
                            }
                          }

a{text-decoration: none;
  color: #454545;
}
h1{
  font-size: 24px;
}
header {
      margin: 20px auto 0 auto;
      align-content: flex-end;
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-around;
      vertical-align:top;
      width: 85%;
    }
header div{
      width: 100;
    }
header img {
      width: 250px;
      margin: 50px auto 20px auto ;
      align-self: flex-end;
    }
header nav{
      margin: 0 5% 0 0;
      align-self: flex-end;
    }

header nav ul {
      list-style: none;
    }
header nav ul li {
      display: inline;
    }

header nav ul li a{
        text-decoration: none;
        color: #454545;
        padding: 10px;
        margin: 0 auto 0 auto;
        text-transform: capitalize;
    }

@media screen and (min-width: 600px) {
                            header nav ul li a:hover{
                                    text-decoration: none;
                                    color: #14748c;
                                    padding: 10px;
                                    border-bottom: 5px #14748c solid;
                                    text-transform: capitalize;
                                }
                            .nav ul:hover .current {
                                  background-image: none !important;
                                  background-size: 10px;
                                  background-position: 5% 50%;
                                  border: 0;
                                  background-size:
                                }
                            .nav.center ul {
                              		left: 50%;
                              		margin-left: 0px !important;
                              	}
                            .nav.center ul li{
                              margin-bottom: 50px;
                            }
                            .nav {line-height: 50px;
                            text-align: center;
                            }
  }

.current{
      border-bottom: 5px solid #14748c;
    }

@media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      , (max-width:600px)
                          {

                            header {
                                  margin: 20px auto 0 auto;
                                  display: block;
                                  width: 85%;
                                  height: 400px;

                                }

                            header img {
                                  width: 450px;
                                  margin: 160px auto 20px auto ;
                                  display: block;
                                }
                            .nav {
                          		position: relative;
                          		min-height: 40px;
                              margin: 75px auto 20px auto ;
                              display: block;
                          	}
                          	.nav ul {
                          		width: 50%;
                          		padding: 5px 0;
                          		position: relative;
                          		border: solid 1px #454545;
                          		background: #fff url("http://www.peopletraction.co.uk/images/list.svg") no-repeat center center;
                              background-size: 40px;
                              z-index: 1;
                              border-radius: 5px;
                          		box-shadow: 0 1px 2px (rgba0,0,0,.3);
                              min-height: 60px;
                              margin: auto;
                          	}
                          	.nav li {
                          		display: none; /* hide all <li> items */
                          		margin: 0;
                          	}
                          	.nav .current {
                          		display: block; /* show only current <li> item */
                          	}
                          	.nav a {
                          		display: block;
                          		padding: 5px 5px 5px 32px;
                          		text-align: left;
                          	}
                          	.nav .current a {
                          		background: #ffffff;
                          		color: #666;
                          	}
                            .current{
                              border-bottom: none;
                            }

                          	/* on nav hover */
                          	.nav ul:hover {
                          		background-image: none;
                          	}
                            .nav ul:hover,.nav ul:active {
                              background-image: none;
                            }
                          	.nav ul:hover li {
                          		display: block;
                          		margin: 0 0 5px ;
                          	}
                          	.nav ul:hover .current,.nav ul:active .current {
                          		background: url("http://www.peopletraction.co.uk/images/tick.svg") no-repeat 10px 7px;
                          	}
                            .nav a{
                              padding: 5px 5px 5px 60px;
                              height:
                            }
}
.main{
  width: 50%;
  margin: 100px auto 100px auto;
}
footer{
  display: block;
}
.footer-link{
  width: 90%;
  margin: auto;
  background-color: #14748c;
  text-align: center;
  padding: 20px 0 20px 0;
}
.footer-link ul{
  display: inline;
}
.footer-link ul li{
  display: inline;
  text-decoration: none;
  margin: 2%;
}
.footer-link ul li a{
  text-decoration: none;
  color: #ffffff;
}
.main {
  width:90%;
  text-align: center;
  display: block;
  margin:auto;
}


div h1{
  height:55px;
  text-transform: capitalize;
  color: #14748c ;
}
  section.social {
  background-color: #14748c;
  width: 90%;
  margin: auto;
  padding: 20px 0 20px 0;
  text-align: center;
}
section.social img{
  height: 50px;
}

#about-hero p{
  color:#fff;
  margin: auto;
  text-align: center;
  width: 100%;
}
#about-hero h1{
  height: 55px;
  text-transform: capitalize;
  color: #fff;
}

#about-hero{
  background: url("http://www.peopletraction.co.uk/images/about-hero.gif") ;
  background-size: cover!important;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  margin:0 auto 3% auto;
  margin: 3% auto 0 auto;
  height: auto;
  width: 90%;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 3%;

}
#hero.home{
  margin: 3% auto 0 auto;
  min-height: 60%;
  width: 90%;
  background: url("http://www.peopletraction.co.uk/images/hero.jpg") fixed;
  background-size: cover!important;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
  background-attachment: fixed;
}
#hero.inhouse{
  margin: 3% auto 0 auto;
  min-height: 60%;
  width: 90%;
  background: url("http://www.peopletraction.co.uk/images/hero2.jpg")  fixed;
  background-size: cover!important;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
}
#hero.lifecycle{
  margin: 3% auto 0 auto;
  min-height: 60%;
  width: 90%;
  background: url("http://www.peopletraction.co.uk/images/hero3.jpg")  fixed;
  background-size: cover!important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
}


@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px) ,
      (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      , (max-width:600px)

{
  #about-hero h1{
    height: 55px;
  text-transform: capitalize;
  color: #fff;
  display: block;
  padding-bottom: 20px;
  }
#hero.lifecycle{
  background: url("http://www.peopletraction.co.uk/images/hero3.jpg") scroll!important;
  background-attachment: scroll!important;
  min-height:50%;
}
#hero.inhouse{
  background: url("http://www.peopletraction.co.uk/images/hero2.jpg") scroll !important;
  background-attachment: scroll!important;
}
#hero.home{
  background: url("http://www.peopletraction.co.uk/images/hero.jpg") scroll !important;
  background-attachment: scroll!important;
  background-position: right top !important;
}

#about-hero{
  background: url("http://www.peopletraction.co.uk/images/about-hero.gif") ;
  padding:3%;
  height: auto;
}
.contact{
  height: 60px;
  background: #14748c;
  left: 50.5%;
  margin-left: -45%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0px;
  width: 87.6%!important;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  box-sizing: content-box;
  z-index: 20;
}
}

  #hero p{
  color: #ffffff;
  width: 65%;
  font-size: 4vw ;
  text-align: center;
  box-sizing: padding-box;
  background-color: #14748c;
  vertical-align:middle;
  opacity: 0.6;
  line-height: 8vw;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  , (max-width:600px)
    {
                            #hero p{
                              color: #ffffff;
                              width: 100%;
                              font-size: 5vw ;
                              line-height: 6vw;
                              text-align: center;
                              background-color: #14748c;
                              margin: auto;
                              padding: 0;
                            }
                            #hero{
                              height: 300px;
                              width: 90%;
                              background: #14748c no-repeat center fixed;
                              margin: auto;
                              padding: 0;
                            }
                            #about-hero p{
                              font-size:36pt;
                              line-height:46pt;}

                              .contact p,a{
                                display: inline;
                              margin: 0;
                              font-size: 25px;
                            }
}
.contact{
  height: 60px;
  background: #14748c;
  left: 50.5%;
  margin-left: -45%;
  position:fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top:0px;
  width: 89%!important;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  box-sizing: content-box;
  z-index: 20;
}
#eucookielaw{
  height: 60px;
  background: #14748c;
  left: 50.5%;
  margin-left: -45%;
  position:fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom:0px;
  width: 89%;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  box-sizing: content-box;
  z-index: 20;
}
.contact p,a{
  display: inline;
}
.contact a{
  color: #ffffff;
}

.flex-container {
  align-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align:top;
  align-items: flex-start;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){

      .flex-container {
        display: block;
        }


    }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){

        .flex-container {
        display: block;
        }
        .service {
          width: 90%!important;
          margin: 3%;
          padding: 2%;
          display: block;
          box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
          border-radius: 10px;
          box-sizing: border-box;
            }
        .service img{
          margin: 0 0 15px 0;
        }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  , (max-width:600px){
    .service {
      width: 90%;
      margin: 3% auto 3% auto!important;
      padding: 2%;
      display: block;
      text-align: center;
      align-self: flex-start;
      box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
      border-radius: 10px;
        }
      }

.service {
  width: 300px;
  margin: 3%;
  padding: 2%;
  box-sizing: padding-box;
  display: block;
  text-align: center;
  align-self: flex-start;
  box-shadow: 10px 10px 24px -11px rgba(0,0,0,0.75);
  border-radius: 10px;
  min-height: 600px;
    }
.service img{
  margin: 0 0 15px 0;
  width: 124px !important;
  height: 124px !important;
}

.hr-line{
  height: 20px;
  background: #14748c;
  margin: 3% auto 3% auto;
  width: 90%;

}
.hero-img {
  width:100%;
  overflow: hidden;
}
.why section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: flex-start;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){
      .why {
        width: 90%!important;
        margin: 0 5%;
        min-height: 250px;
        align-items: flex-start;
        vertical-align: top;
      }
      .why-title{
        width: 90%;
        margin: 10px auto 50px auto;
        text-align: center;
        font-size: 40pt!important;
        line-height: 46pt!important;
      }
}
.why {
  width: 500px;
  margin: 0 5%;
  min-height: 250px;
  align-items: flex-start;
  vertical-align: top;
}
.why-title{
  width: 90%;
  margin: 10px auto 0 auto;
  text-align: center;
}
.why ul{
  padding: 5px 0;
  top: 0;
  left: 0;
  min-height: 30px;

}
.why li{
  display: block;
  background: #fff url("http://www.peopletraction.co.uk/images/tick.svg") no-repeat center left;
  background-size: 3%;
  padding: 3px 0 0 5%;
  margin-bottom: 20px;
  }
.contact-us {
    width: 90%;
    margin: 10px auto 50px auto;
    text-align: center;
}
.link {
  color: #14748c;
  text-decoration: underline;
  white-space: nowrap;
}
/* TEAM PAGE */

.team {  width:85%;
  text-align: center;
  display: block;
  margin:auto;
}

.team-flex-container{
  align-content: flex-end;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align:top;
  align-items: flex-start;
  }
  .team-img {
    width: 500px;
    margin: 0 5%;
    min-height: 250px;
    text-align: center;
    margin: 10px auto 50px auto;
  }
  .team-img img{
    width: 300px;
    align-self: center;
  }
  .team-txt{
    margin: 10px auto 50px auto;
    text-align: left;
    width: 90%;
  }
  .team-txt p{
    width: 100%;
  }

  /* Servcies PAGE */
  .servcie-main{
    width: 90%!important;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    , (max-width:600px){
      .service-flex-container{
          display: block;
          margin-top: 4%;
          width: 100%!important;
          }
          .service-flex-container{
            align-content: flex-start;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            vertical-align:top;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 4%;
            }

        .service-definition {
          width: 90%;
          align-items: flex-start;
          text-align: left;
        }
        .service-benefit {
          width: 90%;
          min-width: 415px;
          margin-top: 100px;
          margin: auto;
        }
        .service-benefit h2{
          display: inline;
          font-size: 20px;
          color: #14748c;
        }
        .service-benefit h1{
          text-align: center;
        }
        .service-definition h1{
          text-align: center;
        }
        .service-use-for{
          width: 100%;
          text-align: left;
        }
        .service-use-for h1{
          text-align: center;
        }
        .service-use-for h2{
          display: inline;
          font-size: 20px;
          color: #14748c;
        }
        .servcie-main{
          width: 90%!important;
        }
        }
  .service-flex-container{
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align:top;
    align-items: flex-start;
    justify-content: space-between;
    }

.service-definition {
  width: 90%;
  align-items: flex-start;
  text-align: left;
  margin: auto;
}
.service-benefit {
  width: 90%;
  min-width: 415px;
  margin-top: 100px;
  align-items: flex-start;
  text-align: left;
  align-content: center;
  margin: auto;
}
.service-benefit h2{
  display: inline;
  font-size: 20px;
  color: #14748c;
}
.service-benefit h1{
  text-align: center;
}
.service-definition h1{
  text-align: center;
}
.service-use-for{
  width: 90%;
  text-align: left;
  margin: auto;
}
.service-use-for h1{
  text-align: center;
}
.service-use-for h2{
  display: inline;
  font-size: 20px;
  color: #14748c;
}

/* contact page*/

#map {
  width: 90%;
  height: 400px;
  margin: 4% auto 4% auto;
}

/* lost page*/

#lost {
  background: url("http://www.peopletraction.co.uk/images/lost.jpg") ;
  background-attachment: scroll;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin:auto;
  border-radius: 10px;

}
div.lost {
  width:100%;
  height:100%;
  margin:0 auto;
  vertical-align: middle;
  text-align: center;
  border-radius: 20px;

}
p.lostp  {
  color: #ffffff;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
   top: 30%;
   transform: translateY(-30%);
   -webkit-transform: translateY(-30%);
}
.container{
  width: 90%;
  margin: auto;
}
.container-hidden{
  display: none;
  width: 90%;
  margin: auto;
}
.row{
  margin:auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 2px (rgba0,0,0,.3);
}
.form-horizontal {
  border-radius: 5px;
  box-shadow: 0 1px 2px (rgba0,0,0,.3);
}
div.form-group{
  display: inline-flex!important;
  width: 40%;
}
div.form-group-block{
  display: block;
  text-align: center;
}
label.col-sm-2.control-label{
width: 30%;
}
.form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-col{
  width: 100%;
}
textarea.form-control{height:30% !important;
}
.details{
  background-color: #14748c;
  width: 90%;
  margin: auto;
  padding: 1px 0 1px 0;
  text-align: center;
  border: 0;
  font-size: 10px;
  line-height: 12px;
}
.button{
  cursor:pointer;
  color:#ffffff;
  text-decoration:none;
  background:#FA9A50;
  border-radius:5px;
  padding:10px;
  border: 0px !important;
  width: 30%;
  margin: 50px 0 50px 0;
}
.main-contact{
  width: 70%;
  margin: auto;
  text-align: center;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  , (max-width:600px){
    div.form-group{
      display: block!important;
      width: 40%;
      margin: auto;
    }
    .form-control{
    display: block;
    width: 100%;
    height: 3vh;
    padding: 6px 12px;
    font-size: 2vh;
    line-height: 1.42857143;
    color: #555;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .button{
      color: #ffffff;
      text-decoration: none;
      background: #FA9A50;
      border-radius: 5px;
      padding: 10px;
      border: 0px !important;
      width: 30vw;
      height: 5vh;
      font-size: 2vh;
      appearance: normal;
      -webkit-appearance: none;
      -webkit-border-radius: 20px;
    }
}
.result{
  margin:auto;
  width: 70%;
  text-align: center;
}

input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

[for="read_more"] {
    display: block;
    position: initial;
    bottom: -3rem;
    left: 0;
    width: 100%;
    text-align: center;
    padding: .65rem;
    margin: 50px 0;
}
[for="read_more"] .button{
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  background: #FA9A50;
  border-radius: 5px;
  padding: 10px;
  border: 0px !important;
  width: 30%;
  margin: auto;
}

input[type=submit]:checked ~ .container-hidden{
  display: none;
  visibility: hidden;
}
input[type=submit]:checked ~ div.result{
  display: block;
  visibility: visible;
  margin:auto;
  width: 70%;
  text-align: center;
}
input[type=checkbox]:checked ~ .container-hidden {
    display: block;
    visibility: visible;
    width: 100%;
}

input[type=checkbox]:checked ~ label{
  display: none;
  visibility: hidden;
}
input[type=checkbox]:checked ~ [for="read_more"] .button {
    display: none;
    visibility: hidden;
}

div.post-main{
  width: 90%;
  margin: auto;
  text-align: left;
  display: block;
}

.entry-content p {
  padding-top: 15px;
  text-align: left;
}


/* Landing Pages */

.land-left {
  background-color: #DFDFDF;
  width: 50%;
  height: 100%;
}
.land-right{
  background-color: #14748c;
  width: 50%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
}
.land-spacer{
  display: block;
  width: 20%;
  height: 100%;
}
.land-flex-container{
display: inline-flex;
width: 100%;
}
.land-input{
  margin: auto;
}
.land-contact-area {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.pure-form-stacked{
  display: flex;
flex-direction: column;
justify-content: space-around;
height: 50%;
margin-top: auto;
margin-bottom: auto;
}
  .land-contact-area form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;  }

        /*!
        Pure v0.6.0
        Copyright 2014 Yahoo! Inc. All rights reserved.
        Licensed under the BSD License.
        https://github.com/yahoo/pure/blob/master/LICENSE.md
        */
        /*csslint box-model:false*/
        /*
        Box-model set to false because we're setting a height on select elements, which
        also have border and padding. This is done because some browsers don't render
        the padding. We explicitly set the box-model for select elements to border-box,
        so we can ignore the csslint warning.
        */

        .pure-form input[type="text"],
        .pure-form input[type="password"],
        .pure-form input[type="email"],
        .pure-form input[type="url"],
        .pure-form input[type="date"],
        .pure-form input[type="month"],
        .pure-form input[type="time"],
        .pure-form input[type="datetime"],
        .pure-form input[type="datetime-local"],
        .pure-form input[type="week"],
        .pure-form input[type="number"],
        .pure-form input[type="search"],
        .pure-form input[type="tel"],
        .pure-form input[type="color"],
        .pure-form select,
        .pure-form textarea {
            padding: 0.5em 0.6em;
            display: inline-block;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 3px #ddd;
            border-radius: 4px;
            vertical-align: middle;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        /*
        Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
        since IE8 won't execute CSS that contains a CSS3 selector.
        */
        .pure-form input:not([type]) {
            padding: 0.5em 0.6em;
            display: inline-block;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 3px #ddd;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }


        /* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
        /* May be able to remove this tweak as color inputs become more standardized across browsers. */
        .pure-form input[type="color"] {
            padding: 0.2em 0.5em;
        }


        .pure-form input[type="text"]:focus,
        .pure-form input[type="password"]:focus,
        .pure-form input[type="email"]:focus,
        .pure-form input[type="url"]:focus,
        .pure-form input[type="date"]:focus,
        .pure-form input[type="month"]:focus,
        .pure-form input[type="time"]:focus,
        .pure-form input[type="datetime"]:focus,
        .pure-form input[type="datetime-local"]:focus,
        .pure-form input[type="week"]:focus,
        .pure-form input[type="number"]:focus,
        .pure-form input[type="search"]:focus,
        .pure-form input[type="tel"]:focus,
        .pure-form input[type="color"]:focus,
        .pure-form select:focus,
        .pure-form textarea:focus {
            outline: 0;
            border-color: #129FEA;
        }

        /*
        Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
        since IE8 won't execute CSS that contains a CSS3 selector.
        */
        .pure-form input:not([type]):focus {
            outline: 0;
            border-color: #129FEA;
        }

        .pure-form input[type="file"]:focus,
        .pure-form input[type="radio"]:focus,
        .pure-form input[type="checkbox"]:focus {
            outline: thin solid #129FEA;
            outline: 1px auto #129FEA;
        }
        .pure-form .pure-checkbox,
        .pure-form .pure-radio {
            margin: 0.5em 0;
            display: block;
        }

        .pure-form input[type="text"][disabled],
        .pure-form input[type="password"][disabled],
        .pure-form input[type="email"][disabled],
        .pure-form input[type="url"][disabled],
        .pure-form input[type="date"][disabled],
        .pure-form input[type="month"][disabled],
        .pure-form input[type="time"][disabled],
        .pure-form input[type="datetime"][disabled],
        .pure-form input[type="datetime-local"][disabled],
        .pure-form input[type="week"][disabled],
        .pure-form input[type="number"][disabled],
        .pure-form input[type="search"][disabled],
        .pure-form input[type="tel"][disabled],
        .pure-form input[type="color"][disabled],
        .pure-form select[disabled],
        .pure-form textarea[disabled] {
            cursor: not-allowed;
            background-color: #eaeded;
            color: #cad2d3;
        }

        /*
        Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
        since IE8 won't execute CSS that contains a CSS3 selector.
        */
        .pure-form input:not([type])[disabled] {
            cursor: not-allowed;
            background-color: #eaeded;
            color: #cad2d3;
        }
        .pure-form input[readonly],
        .pure-form select[readonly],
        .pure-form textarea[readonly] {
            background-color: #eee; /* menu hover bg color */
            color: #777; /* menu text color */
            border-color: #ccc;
        }

        .pure-form input:focus:invalid,
        .pure-form textarea:focus:invalid,
        .pure-form select:focus:invalid {
            color: #b94a48;
            border-color: #e9322d;
        }
        .pure-form input[type="file"]:focus:invalid:focus,
        .pure-form input[type="radio"]:focus:invalid:focus,
        .pure-form input[type="checkbox"]:focus:invalid:focus {
            outline-color: #e9322d;
        }
        .pure-form select {
            /* Normalizes the height; padding is not sufficient. */
            height: 2.25em;
            border: 1px solid #ccc;
            background-color: white;
        }
        .pure-form select[multiple] {
            height: auto;
        }
        .pure-form label {
            margin: 0.5em 0 0.2em;
        }
        .pure-form fieldset {
            margin: 0;
            padding: 0.35em 0 0.75em;
            border: 0;
        }
        .pure-form legend {
            display: block;
            width: 100%;
            padding: 0.3em 0;
            margin-bottom: 0.3em;
            color: #333;
            border-bottom: 1px solid #e5e5e5;
        }

        .pure-form-stacked input[type="text"],
        .pure-form-stacked input[type="password"],
        .pure-form-stacked input[type="email"],
        .pure-form-stacked input[type="url"],
        .pure-form-stacked input[type="date"],
        .pure-form-stacked input[type="month"],
        .pure-form-stacked input[type="time"],
        .pure-form-stacked input[type="datetime"],
        .pure-form-stacked input[type="datetime-local"],
        .pure-form-stacked input[type="week"],
        .pure-form-stacked input[type="number"],
        .pure-form-stacked input[type="search"],
        .pure-form-stacked input[type="tel"],
        .pure-form-stacked input[type="color"],
        .pure-form-stacked input[type="file"],
        .pure-form-stacked select,
        .pure-form-stacked label,
        .pure-form-stacked textarea {
            display: block;
            margin: 0.25em 0;
        }

        /*
        Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
        since IE8 won't execute CSS that contains a CSS3 selector.
        */
        .pure-form-stacked input:not([type]) {
            display: block;
            margin: 0.25em 0;
        }
        .pure-form-aligned input,
        .pure-form-aligned textarea,
        .pure-form-aligned select,
        /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
        .pure-form-aligned .pure-help-inline,
        .pure-form-message-inline {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: middle;
        }
        .pure-form-aligned textarea {
            vertical-align: top;
        }

        /* Aligned Forms */
        .pure-form-aligned .pure-control-group {
            margin-bottom: 0.5em;
        }
        .pure-form-aligned .pure-control-group label {
            text-align: right;
            display: inline-block;
            vertical-align: middle;
            width: 10em;
            margin: 0 1em 0 0;
        }
        .pure-form-aligned .pure-controls {
            margin: 1.5em 0 0 11em;
        }

        /* Rounded Inputs */
        .pure-form input.pure-input-rounded,
        .pure-form .pure-input-rounded {
            border-radius: 2em;
            padding: 0.5em 1em;
            height: 3vmax;
        }

        /* Grouped Inputs */
        .pure-form .pure-group fieldset {
            margin-bottom: 10px;
        }
        .pure-form .pure-group input,
        .pure-form .pure-group textarea {
            display: block;
            padding: 10px;
            margin: 0 0 -1px;
            border-radius: 0;
            position: relative;
            top: -1px;
        }
        .pure-form .pure-group input:focus,
        .pure-form .pure-group textarea:focus {
            z-index: 3;
        }
        .pure-form .pure-group input:first-child,
        .pure-form .pure-group textarea:first-child {
            top: 1px;
            border-radius: 4px 4px 0 0;
            margin: 0;
        }
        .pure-form .pure-group input:first-child:last-child,
        .pure-form .pure-group textarea:first-child:last-child {
            top: 1px;
            border-radius: 4px;
            margin: 0;
        }
        .pure-form .pure-group input:last-child,
        .pure-form .pure-group textarea:last-child {
            top: -2px;
            border-radius: 0 0 4px 4px;
            margin: 0;
        }
        .pure-form .pure-group button {
            margin: 0.35em 0;
        }

        .pure-form .pure-input-1 {
            width: 100%;
        }
        .pure-form .pure-input-2-3 {
            width: 66%;
        }
        .pure-form .pure-input-1-2 {
            width: 50%;
        }
        .pure-form .pure-input-1-3 {
            width: 33%;
        }
        .pure-form .pure-input-1-4 {
            width: 25%;
        }

        /* Inline help for forms */
        /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
        .pure-form .pure-help-inline,
        .pure-form-message-inline {
            display: inline-block;
            padding-left: 0.3em;
            color: #666;
            vertical-align: middle;
            font-size: 0.875em;
        }

        /* Block help for forms */
        .pure-form-message {
            display: block;
            color: #666;
            font-size: 0.875em;
        }

        @media only screen and (max-width : 480px) {
            .pure-form button[type="submit"] {
                margin: 0.7em 0 0;
            }

            .pure-form input:not([type]),
            .pure-form input[type="text"],
            .pure-form input[type="password"],
            .pure-form input[type="email"],
            .pure-form input[type="url"],
            .pure-form input[type="date"],
            .pure-form input[type="month"],
            .pure-form input[type="time"],
            .pure-form input[type="datetime"],
            .pure-form input[type="datetime-local"],
            .pure-form input[type="week"],
            .pure-form input[type="number"],
            .pure-form input[type="search"],
            .pure-form input[type="tel"],
            .pure-form input[type="color"],
            .pure-form label {
                margin-bottom: 0.3em;
                display: block;
            }

            .pure-group input:not([type]),
            .pure-group input[type="text"],
            .pure-group input[type="password"],
            .pure-group input[type="email"],
            .pure-group input[type="url"],
            .pure-group input[type="date"],
            .pure-group input[type="month"],
            .pure-group input[type="time"],
            .pure-group input[type="datetime"],
            .pure-group input[type="datetime-local"],
            .pure-group input[type="week"],
            .pure-group input[type="number"],
            .pure-group input[type="search"],
            .pure-group input[type="tel"],
            .pure-group input[type="color"] {
                margin-bottom: 0;
            }

            .pure-form-aligned .pure-control-group label {
                margin-bottom: 0.3em;
                text-align: left;
                display: block;
                width: 100%;
            }

            .pure-form-aligned .pure-controls {
                margin: 1.5em 0 0 0;
            }

            /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
            .pure-form .pure-help-inline,
            .pure-form-message-inline,
            .pure-form-message {
                display: block;
                font-size: 0.75em;
                /* Increased bottom padding to make it group with its related input element. */
                padding: 0.2em 0 0.8em;
            }
        }

        /*!
        Pure v0.6.0
        Copyright 2014 Yahoo! Inc. All rights reserved.
        Licensed under the BSD License.
        https://github.com/yahoo/pure/blob/master/LICENSE.md
        */
        .pure-button {
            /* Structure */
            display: inline-block;
            zoom: 1;
            line-height: normal;
            white-space: nowrap;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        /* Firefox: Get rid of the inner focus border */
        .pure-button::-moz-focus-inner {
            padding: 0;
            border: 0;
        }

        /*csslint outline-none:false*/

        .pure-button {
            font-family: inherit;
            font-size: 100%;
            padding: 0.5em 1em;
            color: #444; /* rgba not supported (IE 8) */
            color: rgba(0, 0, 0, 0.80); /* rgba supported */
            border: 1px solid #999;  /*IE 6/7/8*/
            border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
            background-color: #E6E6E6;
            text-decoration: none;
            border-radius: 2vmax;
        }

        .pure-button-hover,
        .pure-button:hover,
        .pure-button:focus {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
            background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
            background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
            background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
            background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
        }
        .pure-button:focus {
            outline: 0;
        }
        .pure-button-active,
        .pure-button:active {
            box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
            border-color: #000\9;
        }

        .pure-button[disabled],
        .pure-button-disabled,
        .pure-button-disabled:hover,
        .pure-button-disabled:focus,
        .pure-button-disabled:active {
            border: none;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            filter: alpha(opacity=40);
            -khtml-opacity: 0.40;
            -moz-opacity: 0.40;
            opacity: 0.40;
            cursor: not-allowed;
            box-shadow: none;
        }

        .pure-button-hidden {
            display: none;
        }

        /* Firefox: Get rid of the inner focus border */
        .pure-button::-moz-focus-inner{
            padding: 0;
            border: 0;
        }

        .pure-button-primary,
        .pure-button-selected,
        a.pure-button-primary,
        a.pure-button-selected {
            background-color: rgb(0, 120, 231);
            color: #fff;
        }
